<a href="https://colab.research.google.com/github/rcrozatti/Analises-Redes-Sociais/blob/main/Datajor_An%C3%A1lise_de_termos_dos_governadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Termos governadores Twitter e Instagram

## Importando bibliotecas

In [44]:
import numpy                  as np
import pandas                 as pd
from nltk.corpus import stopwords
from google.colab import files
from google.colab import drive
import re
from nltk.util import ngrams
drive.mount('/content/drive')
import nltk
nltk.download('stopwords')
import datetime
from datetime import datetime
import matplotlib.pyplot as plt 
import seaborn as sns

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

##An√°lise da planilha

Neste projeto, ser√£o analisadas duas planilhas - respectivamente, do Twitter e do Instagram, dos 27 governadores dos 26 estados e do Distrito Federal. Para a raspagem, foi utilizado a ferramenta paga Phantom Buster.

### Twitter

Al√©m de abrir a planilha referente ao Twitter, usei a biblioteca Datetime para corrigir a data e a hora da planilha original, gerando duas novas colunas - data e hora.

In [2]:
dados_twitter = pd.read_csv('governadores_twitter_12-12-22.csv')
dados_twitter['data'] = pd.to_datetime(dados_twitter['tweetDate']).dt.date
dados_twitter['hora'] = pd.to_datetime(dados_twitter['tweetDate']).dt.time
dados_twitter = dados_twitter[['handle', 'data', 'text']]
dados_twitter.columns = ['nome', 'data', 'texto']
dados_twitter.head()

,nome,data,texto
0,GladsonCameli,2022-11-29,Que alegria ver 305 fam√≠lias do bairro Montanh...
1,GladsonCameli,2022-11-24,O HEXA VEM! üèÜ\n\nBora torcer pelo Brasil na es...
2,GladsonCameli,2022-11-21,"Ol√°, meus amigos! \n\nNesta tarde estive na Ca..."
3,GladsonCameli,2022-11-21,Tamb√©m fizemos a entrega de 9 quadriciclos par...
4,GladsonCameli,2022-11-17,Quero agradecer toda a comitiva do Acre que es...

Aqui, conferi se os nomes filtrados s√£o os nomes corretos.

In [3]:
dados_twitter.nome.unique()

array(['GladsonCameli', 'paulodantasal', 'waldezoficial', 'wilsonlimaAM',
       'costa_rui', 'IzoldaCelaCe', 'IbaneisOficial', 'Casagrande_ES',
       'ronaldocaiado', 'carlosbrandaoma', 'Reinaldo45psdb', 'RomeuZema',
       'helderbarbalho', 'joaoazevedolins', 'ratinho_jr', 'PauloCamara40',
       'ReginaSousa_01', 'claudiocastroRJ', 'fatimabezerra',
       'DelegadoRanolfo', 'celmarcosrocha', 'antoniodenarium',
       'CarlosMoises', 'rodrigogarcia_', 'belivaldochagas', 'WanderleiTO'],
      dtype=object)

#### Limpeza e organiza√ß√£o dos nomes

Como o dataframe criado com o Phantombuster informa somente o nome de usu√°rio, aqui retirei os usu√°rios do Twitter para o nome do pol√≠tico, para facilitar os filtros ap√≥s a jun√ß√£o com a planilha do Instagram. Tamb√©m criei uma nova coluna, identificando a rede social.

In [4]:
dados_tw = dados_twitter.replace({'GladsonCameli': 'Gladson Cameli', 
                  'paulodantasal': 'Paulo Dantas', 
                  'waldezoficial': 'Waldez G√≥es', 
                  'wilsonlimaAM': 'Wilson Lima', 
                  'costa_rui': 'Rui Costa', 
                  'IzoldaCelaCe': 'Izolda Cela', 
                  'IbaneisOficial': 'Ibaneis Rocha', 
                  'Casagrande_ES': 'Renato Casagrande', 
                  'ronaldocaiado': 'Ronaldo Caiado', 
                  'carlosbrandaoma': 'Carlos Brand√£o Junior', 
                  'Reinaldo45psdb': 'Reinaldo Azambuja', 
                  'RomeuZema': 'Romeu Zema', 
                  'helderbarbalho': 'Helder Barbalho', 
                  'joaoazevedolins': 'Jo√£o Azev√™do', 
                  'ratinho_jr': 'Ratinho J√∫nior', 
                  'PauloCamara40': 'Paulo C√¢mara', 
                  'ReginaSousa_01': 'Regina Sousa', 
                  'claudiocastroRJ': 'Cl√°udio Castro', 
                  'fatimabezerra': 'F√°tima Bezerra', 
                  'DelegadoRanolfo': 'Ranolfo Vieira J√∫nior', 
                  'celmarcosrocha': 'Coronel Marcos Rocha', 
                  'antoniodenarium': 'Antonio Denarium', 
                  'CarlosMoises': 'Carlos Mois√©s', 
                  'rodrigogarcia_': 'Rodrigo Garcia', 
                  'belivaldochagas': 'Belivaldo Chagas', 
                  'WanderleiTO': 'Wanderlei Barbosa'})
dados_tw['rede social'] = 'Twitter'
dados_tw.head()

,nome,data,texto,rede social
0,Gladson Cameli,2022-11-29,Que alegria ver 305 fam√≠lias do bairro Montanh...,Twitter
1,Gladson Cameli,2022-11-24,O HEXA VEM! üèÜ\n\nBora torcer pelo Brasil na es...,Twitter
2,Gladson Cameli,2022-11-21,"Ol√°, meus amigos! \n\nNesta tarde estive na Ca...",Twitter
3,Gladson Cameli,2022-11-21,Tamb√©m fizemos a entrega de 9 quadriciclos par...,Twitter
4,Gladson Cameli,2022-11-17,Quero agradecer toda a comitiva do Acre que es...,Twitter

No Twitter s√£o 803 postagens raspadas.

In [5]:
dados_tw.shape[0]

803

### Instagram

Vamos repetir o mesmo processo com o Instagram antes de juntar as duas bases de dados.

In [6]:

dados_instagram = pd.read_csv('governadores_insta.csv')
dados_instagram['data'] = pd.to_datetime(dados_instagram['pubDate']).dt.date
dados_instagram['hora'] = pd.to_datetime(dados_instagram['pubDate']).dt.time
dados_instagram = dados_instagram[['profileUrl', 'data', 'description']]
dados_instagram.columns = ['nome', 'data', 'texto']
dados_instagram.head()

,nome,data,texto
0,https://www.instagram.com/gladsoncameli,2022-12-11,Quero parabenizar meu primo @marmude.camely qu...
1,https://www.instagram.com/gladsoncameli,2022-12-11,Prestigiei tamb√©m a confraterniza√ß√£o da Associ...
2,https://www.instagram.com/gladsoncameli,2022-12-11,Luzes do Natal! üéÖ\n\nO esp√≠rito natalino invad...
3,https://www.instagram.com/gladsoncameli,2022-12-11,"Ent√£o √© Natal üéÖ üéÑ\n\nParticipei, na noite de h..."
4,https://www.instagram.com/gladsoncameli,2022-12-10,"Hoje quero felicitar a minha vice eleita, sena..."

In [7]:
dados_insta = dados_instagram.replace({'https://www.instagram.com/gladsoncameli': 'Gladson Cameli', 
                              'https://www.instagram.com/paulodantasalagoas': 'Paulo Dantas', 
                              'https://www.instagram.com/waldezgoesoficial': 'Waldez G√≥es', 
                              'https://www.instagram.com/wilsonlimaam': 'Wilson Lima', 
                              'https://www.instagram.com/ruicostaoficial': 'Rui Costa', 
                              'https://www.instagram.com/izoldacelace': 'Izolda Cela', 
                              'https://www.instagram.com/ibaneisoficial': 'Ibaneis Rocha', 
                              'https://www.instagram.com/casagrande_es': 'Renato Casagrande', 
                              'https://www.instagram.com/ronaldocaiado': 'Ronaldo Caiado', 
                              'https://www.instagram.com/carlosbrandaoma': 'Carlos Brand√£o Junior', 
                              'https://www.instagram.com/mauromendesoficial': 'Mauro Mendes', 
                              'https://www.instagram.com/reinaldoazambuja': 'Reinaldo Azambuja', 
                              'https://www.instagram.com/romeuzemaoficial': 'Romeu Zema', 
                              'https://www.instagram.com/helderbarbalho': 'Helder Barbalho', 
                              'https://www.instagram.com/joaoazevedolins': 'Jo√£o Azev√™do', 
                              'https://www.instagram.com/ratinho_junior': 'Ratinho J√∫nior', 
                              'https://www.instagram.com/paulocamara40': 'Paulo C√¢mara', 
                              'https://www.instagram.com/senadora_regina_sousa': 'Regina Sousa', 
                              'https://www.instagram.com/claudiocastrorj': 'Cl√°udio Castro', 
                              'https://www.instagram.com/fatimabezerra13': 'F√°tima Bezerra', 
                              'https://www.instagram.com/delegadoranolfo': 'Ranolfo Vieira J√∫nior', 
                              'https://www.instagram.com/celmarcosrocha': 'Coronel Marcos Rocha', 
                              'https://www.instagram.com/antoniodenariumrr': 'Antonio Denarium', 
                              'https://www.instagram.com/governadormoises': 'Carlos Mois√©s', 
                              'https://www.instagram.com/rodrigogarciaoficial': 'Rodrigo Garcia', 
                              'https://www.instagram.com/belivaldochagas': 'Belivaldo Chagas', 
                              'https://www.instagram.com/wanderleibarbosaoficial': 'Wanderlei Barbosa'})
dados_insta['rede social'] = 'Instagram'
dados_insta.head()

,nome,data,texto,rede social
0,Gladson Cameli,2022-12-11,Quero parabenizar meu primo @marmude.camely qu...,Instagram
1,Gladson Cameli,2022-12-11,Prestigiei tamb√©m a confraterniza√ß√£o da Associ...,Instagram
2,Gladson Cameli,2022-12-11,Luzes do Natal! üéÖ\n\nO esp√≠rito natalino invad...,Instagram
3,Gladson Cameli,2022-12-11,"Ent√£o √© Natal üéÖ üéÑ\n\nParticipei, na noite de h...",Instagram
4,Gladson Cameli,2022-12-10,"Hoje quero felicitar a minha vice eleita, sena...",Instagram

Uma diferen√ßa da planilha do Instagram em rela√ß√£o ao Twitter √© que, nesse caso, a raspagem pegou publica√ß√µes de perfis que fez postagens em conjunto com a nossa lista de governadores. Mais abaixo faremos um filtro para selecionar somente os governadores.

In [8]:
dados_insta.nome.unique()

array(['Gladson Cameli', 'https://www.instagram.com/progressistas',
       'https://www.instagram.com/governo.acre', 'Paulo Dantas',
       'Waldez G√≥es', 'Wilson Lima', 'Rui Costa',
       'https://www.instagram.com/govba', 'Izolda Cela', 'Ibaneis Rocha',
       'Renato Casagrande', 'Ronaldo Caiado', 'Carlos Brand√£o Junior',
       'https://www.instagram.com/virginiamendesoficial', 'Mauro Mendes',
       'https://www.instagram.com/uniaobrasil44', 'Reinaldo Azambuja',
       'Romeu Zema', 'Helder Barbalho', 'Jo√£o Azev√™do', 'Ratinho J√∫nior',
       'Paulo C√¢mara', 'Regina Sousa', 'Cl√°udio Castro', 'F√°tima Bezerra',
       'Ranolfo Vieira J√∫nior', 'Coronel Marcos Rocha',
       'https://www.instagram.com/luanarochaoficialro',
       'Antonio Denarium', 'https://www.instagram.com/simonedenarium',
       'Carlos Mois√©s', 'Rodrigo Garcia', 'Belivaldo Chagas', nan],
      dtype=object)

##Concatenar as duas bases de dados

In [9]:
dados_social = pd.concat([dados_tw, dados_insta])
dados_social.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1296 entries, 0 to 492
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nome         1295 non-null   object
 1   data         1295 non-null   object
 2   texto        1288 non-null   object
 3   rede social  1296 non-null   object
dtypes: object(4)
memory usage: 50.6+ KB

## Limpar dados nulos

In [10]:
dados_social[dados_social['texto'].isnull()]

               nome        data texto rede social
45      Wilson Lima  2022-12-05   NaN   Instagram
103  Ronaldo Caiado  2022-12-06   NaN   Instagram
106  Ronaldo Caiado  2022-12-04   NaN   Instagram
343    Regina Sousa  2019-01-03   NaN   Instagram
347    Regina Sousa  2019-01-02   NaN   Instagram
351    Regina Sousa  2018-12-21   NaN   Instagram
466   Carlos Mois√©s  2022-12-01   NaN   Instagram
492             NaN         NaT   NaN   Instagram

In [11]:
dados_social.dropna(subset = ['texto'], inplace = True)
dados_social.index = range(dados_social.shape[0])
dados_social.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1288 entries, 0 to 1287
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nome         1288 non-null   object
 1   data         1288 non-null   object
 2   texto        1288 non-null   object
 3   rede social  1288 non-null   object
dtypes: object(4)
memory usage: 40.4+ KB

## Selecionar a data para an√°lise

A raspagem foi feita pela √∫ltima vez no dia 12/12/2022. Por isso, vamos selecionar os quatro anos anteriores, desde quando come√ßou √† √∫ltima legislatura.

In [12]:
s = pd.to_datetime(dados_social['data'])
assert str(s.dtype) == 'datetime64[ns]'
dados_social.index = s
print(dados_social['2019-01-01':'2022-12-12'])
dados_data = dados_social['2019-01-01':'2022-12-12']

                        nome        data  \
data
2022-11-29    Gladson Cameli  2022-11-29
2022-11-24    Gladson Cameli  2022-11-24
2022-11-21    Gladson Cameli  2022-11-21
2022-11-21    Gladson Cameli  2022-11-21
2022-11-17    Gladson Cameli  2022-11-17
...                      ...         ...
2022-12-07  Belivaldo Chagas  2022-12-07
2022-12-07  Belivaldo Chagas  2022-12-07
2022-12-07  Belivaldo Chagas  2022-12-07
2022-12-07  Belivaldo Chagas  2022-12-07
2022-12-06  Belivaldo Chagas  2022-12-06

                                                        texto rede social
data
2022-11-29  Que alegria ver 305 fam√≠lias do bairro Montanh...     Twitter
2022-11-24  O HEXA VEM! üèÜ\n\nBora torcer pelo Brasil na es...     Twitter
2022-11-21  Ol√°, meus amigos! \n\nNesta tarde estive na Ca...     Twitter
2022-11-21  Tamb√©m fizemos a entrega de 9 quadriciclos par...     Twitter
2022-11-17  Quero agradecer toda a comitiva do Acre que es...     Twitter
...                                                       ...         ...
2022-12-07  Antecipa√ß√£o do calend√°rio de pagamento para os...   Instagram
2022-12-07  Ao lado de representantes da chapa que concorr...   Instagram
2022-12-07  Um novo espa√ßo adequado ao melhor acolhimento ...   Instagram
2022-12-07  Novo Centro de Refer√™ncia no Atendimento Integ...   Instagram
2022-12-06  Mais prote√ß√£o e acolhimento para as crian√ßas e...   Instagram

[1278 rows x 4 columns]

Conferir se as datas filtradas est√£o corretas.

##Filtrar somente os governadores

Aqui criei uma lista com os nomes dos governadores da legislatura 2019-2022 para fazer um filtro.

In [14]:
lista_governadores = ['Gladson Cameli', 'Paulo Dantas', 'Waldez G√≥es', 'Wilson Lima', 'Rui Costa', 'Izolda Cela', 
                      'Ibaneis Rocha', 'Renato Casagrande', 'Ronaldo Caiado', 'Carlos Brand√£o Junior', 'Mauro Mendes', 
                      'Reinaldo Azambuja', 'Romeu Zema', 'Helder Barbalho', 'Jo√£o Azev√™do', 'Ratinho J√∫nior', 
                      'Paulo C√¢mara', 'Regina Sousa', 'Cl√°udio Castro', 'F√°tima Bezerra', 'Ranolfo Vieira J√∫nior', 
                      'Coronel Marcos Rocha', 'Antonio Denarium', 'Carlos Mois√©s', 'Rodrigo Garcia', 'Belivaldo Chagas', 
                      'Wanderlei Barbosa']
lista_governadores

['Gladson Cameli',
 'Paulo Dantas',
 'Waldez G√≥es',
 'Wilson Lima',
 'Rui Costa',
 'Izolda Cela',
 'Ibaneis Rocha',
 'Renato Casagrande',
 'Ronaldo Caiado',
 'Carlos Brand√£o Junior',
 'Mauro Mendes',
 'Reinaldo Azambuja',
 'Romeu Zema',
 'Helder Barbalho',
 'Jo√£o Azev√™do',
 'Ratinho J√∫nior',
 'Paulo C√¢mara',
 'Regina Sousa',
 'Cl√°udio Castro',
 'F√°tima Bezerra',
 'Ranolfo Vieira J√∫nior',
 'Coronel Marcos Rocha',
 'Antonio Denarium',
 'Carlos Mois√©s',
 'Rodrigo Garcia',
 'Belivaldo Chagas',
 'Wanderlei Barbosa']

In [15]:
gov_df = dados_data.query('nome in @lista_governadores')
list(gov_df['nome'].drop_duplicates())

['Gladson Cameli',
 'Paulo Dantas',
 'Waldez G√≥es',
 'Wilson Lima',
 'Rui Costa',
 'Izolda Cela',
 'Ibaneis Rocha',
 'Renato Casagrande',
 'Ronaldo Caiado',
 'Carlos Brand√£o Junior',
 'Reinaldo Azambuja',
 'Romeu Zema',
 'Helder Barbalho',
 'Jo√£o Azev√™do',
 'Ratinho J√∫nior',
 'Paulo C√¢mara',
 'Regina Sousa',
 'Cl√°udio Castro',
 'F√°tima Bezerra',
 'Ranolfo Vieira J√∫nior',
 'Coronel Marcos Rocha',
 'Antonio Denarium',
 'Carlos Mois√©s',
 'Rodrigo Garcia',
 'Belivaldo Chagas',
 'Wanderlei Barbosa',
 'Mauro Mendes']

In [16]:
gov_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1270 entries, 2022-11-29 to 2022-12-06
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nome         1270 non-null   object
 1   data         1270 non-null   object
 2   texto        1270 non-null   object
 3   rede social  1270 non-null   object
dtypes: object(4)
memory usage: 49.6+ KB

In [17]:
gov_df.head()

,nome,data,texto,rede social
data,,,,
2022-11-29,Gladson Cameli,2022-11-29,Que alegria ver 305 fam√≠lias do bairro Montanh...,Twitter
2022-11-24,Gladson Cameli,2022-11-24,O HEXA VEM! üèÜ\n\nBora torcer pelo Brasil na es...,Twitter
2022-11-21,Gladson Cameli,2022-11-21,"Ol√°, meus amigos! \n\nNesta tarde estive na Ca...",Twitter
2022-11-21,Gladson Cameli,2022-11-21,Tamb√©m fizemos a entrega de 9 quadriciclos par...,Twitter
2022-11-17,Gladson Cameli,2022-11-17,Quero agradecer toda a comitiva do Acre que es...,Twitter

## Limpeza

Antes de filtrar os termos, vamos limpar a planilha usando algumas fun√ß√µes importantes: letras das postagens em caixa baixa e *stop words* - biblioteca para deletar palavras comuns, como artigos ou termos indesejados para a an√°lise.

In [18]:
#caixa baixa e limpeza de caracteres especiais
gov_df['texto'] = gov_df['texto'].str.lower().map(lambda x: re.sub(r'[^\w\s]', '', x))
gov_df['postagens'] = gov_df['texto'].str.replace('\d+', '')
gov_df.head()

<ipython-input-18-ed16c0ae51be>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gov_df['texto'] = gov_df['texto'].str.lower().map(lambda x: re.sub(r'[^\w\s]', '', x))
<ipython-input-18-ed16c0ae51be>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  gov_df['postagens'] = gov_df['texto'].str.replace('\d+', '')
<ipython-input-18-ed16c0ae51be>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gov_df['postagens'] = gov_df['texto'].str.replace('\d+', '')

,nome,data,texto,rede social,postagens
data,,,,,
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,que alegria ver fam√≠lias do bairro montanh√™s ...
2022-11-24,Gladson Cameli,2022-11-24,o hexa vem \n\nbora torcer pelo brasil na estr...,Twitter,o hexa vem \n\nbora torcer pelo brasil na estr...
2022-11-21,Gladson Cameli,2022-11-21,ol√° meus amigos \n\nnesta tarde estive na casa...,Twitter,ol√° meus amigos \n\nnesta tarde estive na casa...
2022-11-21,Gladson Cameli,2022-11-21,tamb√©m fizemos a entrega de 9 quadriciclos par...,Twitter,tamb√©m fizemos a entrega de quadriciclos para...
2022-11-17,Gladson Cameli,2022-11-17,quero agradecer toda a comitiva do acre que es...,Twitter,quero agradecer toda a comitiva do acre que es...

In [19]:
#stop words
stop_words = '/content/drive/MyDrive/lista_stopwords.txt'
stop = stopwords.words('portuguese')
with open(stop_words, "r") as f:
    for line in f:
        stop.extend(line.split())

In [20]:
gov_df['postagens'] = gov_df['postagens'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
gov_df.head()

<ipython-input-20-816148612d4c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gov_df['postagens'] = gov_df['postagens'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

,nome,data,texto,rede social,postagens
data,,,,,
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...
2022-11-24,Gladson Cameli,2022-11-24,o hexa vem \n\nbora torcer pelo brasil na estr...,Twitter,hexa bora torcer estreia sele√ß√£o brasileira h ...
2022-11-21,Gladson Cameli,2022-11-21,ol√° meus amigos \n\nnesta tarde estive na casa...,Twitter,ol√° equipe realizando reuni√£o t√©cnica transi√ß√£...
2022-11-21,Gladson Cameli,2022-11-21,tamb√©m fizemos a entrega de 9 quadriciclos par...,Twitter,fizemos entrega quadriciclos corpo bombeiros a...
2022-11-17,Gladson Cameli,2022-11-17,quero agradecer toda a comitiva do acre que es...,Twitter,agradecer toda comitiva acre junto comigo cope...

## Separar palavras

Parte importante da an√°lise de texto: separar todas as palavras e contabilizar as que mais se repetem. Aqui utilizei a NGram, da biblioteca NLTK. Com ela, √© poss√≠vel selecionar a quantidade de termos que aparecem juntos para contabilizar. √â poss√≠vel fazer an√°lises com mais de um termo junto, mas nesse caso foi somente com um.

In [21]:
n_1 = 1
gov_termos_1 = gov_df
gov_termos_1['termos'] = gov_df['postagens'].str.split().apply(lambda x: list(map(' '.join, ngrams(x, n=n_1))))
gov_termos_1 = (gov_termos_1.assign(count=gov_termos_1['termos'].str.len()).explode('termos').query('count > 0'))
gov_termos_1 = gov_termos_1.drop(columns=['count'])
gov_termos_1.head()

<ipython-input-21-a2376ecc9719>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gov_termos_1['termos'] = gov_df['postagens'].str.split().apply(lambda x: list(map(' '.join, ngrams(x, n=n_1))))

,nome,data,texto,rede social,postagens,termos
data,,,,,,
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...,alegria
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...,ver
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...,fam√≠lias
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...,bairro
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...,montanh√™s

In [22]:
gov_termos_1.head()

,nome,data,texto,rede social,postagens,termos
data,,,,,,
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...,alegria
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...,ver
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...,fam√≠lias
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...,bairro
2022-11-29,Gladson Cameli,2022-11-29,que alegria ver 305 fam√≠lias do bairro montanh...,Twitter,alegria ver fam√≠lias bairro montanh√™s branco r...,montanh√™s

In [23]:
gov_termos_1.shape[0]

25014

In [24]:
gov_lista = gov_df.postagens.str.split(expand=True).stack().value_counts()
gov_lista

seguran√ßa          111
deus                77
popula√ß√£o           73
desenvolvimento     71
p√∫blica             63
                  ...
bacellar             1
renomada             1
palestra             1
presidida            1
louriv√¢nia           1
Length: 8098, dtype: int64

In [25]:
df_termos = pd.DataFrame(gov_lista)
df_termos = gov_lista.reset_index(level=0)
df_termos.columns = ['termos', 'total']
df_termos.head(60)

             termos  total
0         seguran√ßa    111
1              deus     77
2         popula√ß√£o     73
3   desenvolvimento     71
4           p√∫blica     63
5          educa√ß√£o     56
6             sa√∫de     55
7          fam√≠lias     53
8             obras     51
9        servidores     48
10         empregos     43
11          fam√≠lia     43
12            a√ß√µes     40
13            renda     40
14             hexa     40
15         economia     39
16         garantir     39
17          pol√≠cia     38
18           social     37
19           semana     37
20             obra     37
21            mundo     36
22               df     35
23             toda     35
24       familiares     35
25            muita     35
26          vit√≥ria     34
27              sul     34
28          durante     34
29             meio     34
30          projeto     33
31              v√£o     33
32         agrade√ßo     33
33          sergipe     33
34              ter     33
35              paz     33
36        munic√≠pio     32
37          emprego     32
38            junto     32
39           outros     32
40             rede     32
41               rt     32
42          alegria     32
43           equipe     32
44           eleito     31
45       entregamos     31
46        qualidade     31
47     investimento     31
48         empresas     31
49          domingo     31
50             onde     31
51           contra     31
52         rond√¥nia     31
53            assim     31
54            final     31
55         produ√ß√£o     30
56              faz     30
57          reuni√£o     30
58               ms     30
59         dezembro     30

##Lista com principais termos

Ap√≥s analisar o dataframe com os principais termos usados nas redes sociais dos governadores, selecionei termos interessantes no debate p√∫blico, al√©m de alguns relacionados √† religi√£o para fazer um comparativo.

In [51]:
termos_lista = ['sa√∫de',' obra','mobilidade','moradia','seguran√ßa','emprego', 'asfalto',
                'investimento','econ√¥mica', 'esporte','ilumina√ß√£o','escola','transporte',
                'icms','habitacional','economia','hospital', 'hospitais', 'vacina', 'habita√ß√£o','educa√ß√£o',
                'constru√ß√£o','creche','inova√ß√£o', 'democracia', 'viol√™ncia', 'esgoto',
                'fome', 'alimento', 'comida', 'universidade', 'arma','combust√≠vel', 'cultura', 'saneamento', 
                'democracia', 'corrup√ß√£o', 'renda', 'deus', 'jesus', 'natureza']

In [52]:
post_govs = gov_termos_1[gov_termos_1['termos'].isin(termos_lista)]
post_govs = post_govs.drop_duplicates()
post_govs

,nome,data,texto,rede social,postagens,termos
data,,,,,,
2022-11-21,Gladson Cameli,2022-11-21,tamb√©m fizemos a entrega de 9 quadriciclos par...,Twitter,fizemos entrega quadriciclos corpo bombeiros a...,seguran√ßa
2022-11-17,Gladson Cameli,2022-11-17,quero agradecer toda a comitiva do acre que es...,Twitter,agradecer toda comitiva acre junto comigo cope...,emprego
2022-11-17,Gladson Cameli,2022-11-17,quero agradecer toda a comitiva do acre que es...,Twitter,agradecer toda comitiva acre junto comigo cope...,renda
2022-11-16,Gladson Cameli,2022-11-16,gratid√£o a deus pela oportunidade de represent...,Twitter,gratid√£o deus oportunidade representar acre co...,deus
2022-11-16,Gladson Cameli,2022-11-16,gratid√£o a deus pela oportunidade de represent...,Twitter,gratid√£o deus oportunidade representar acre co...,emprego
...,...,...,...,...,...,...
2022-12-07,Belivaldo Chagas,2022-12-07,novo centro de refer√™ncia no atendimento integ...,Instagram,centro refer√™ncia atendimento integral infanto...,sa√∫de
2022-12-07,Belivaldo Chagas,2022-12-07,novo centro de refer√™ncia no atendimento integ...,Instagram,centro refer√™ncia atendimento integral infanto...,seguran√ßa
2022-12-06,Belivaldo Chagas,2022-12-06,mais prote√ß√£o e acolhimento para as crian√ßas e...,Instagram,prote√ß√£o acolhimento crian√ßas adolescentes v√≠t...,viol√™ncia
2022-12-06,Belivaldo Chagas,2022-12-06,mais prote√ß√£o e acolhimento para as crian√ßas e...,Instagram,prote√ß√£o acolhimento crian√ßas adolescentes v√≠t...,sa√∫de
2022-12-06,Belivaldo Chagas,2022-12-06,mais prote√ß√£o e acolhimento para as crian√ßas e...,Instagram,prote√ß√£o acolhimento crian√ßas adolescentes v√≠t...,seguran√ßa

## Lista de estados

Para facilitar filtros posteriores, criei um dataframe para juntar com o original, contendo: governador, estado, sigla e regi√£o.

In [53]:
estados = pd.DataFrame([['Gladson Cameli', 'Acre'], ['Paulo Dantas', 'Alagoas'], ['Waldez G√≥es', 'Amap√°'], 
                           ['Wilson Lima', 'Amazonas'], ['Rui Costa', 'Bahia'], ['Izolda Cela', 'Cear√°'], 
                           ['Ibaneis Rocha', 'Distrito Federal'], ['Renato Casagrande', 'Esp√≠rito Santo'], 
                           ['Ronaldo Caiado', 'Goi√°s'], ['Carlos Brand√£o Junior', 'Maranh√£o'], ['Mauro Mendes', 'Mato Grosso'], 
                           ['Reinaldo Azambuja', 'Mato Grosso do Sul'], ['Romeu Zema', 'Minas Gerais'], ['Helder Barbalho', 'Par√°'], 
                           ['Jo√£o Azev√™do', 'Para√≠ba'], ['Ratinho J√∫nior', 'Paran√°'], ['Paulo C√¢mara', 'Pernambuco'], 
                           ['Regina Sousa', 'Piau√≠'], ['Cl√°udio Castro', 'Rio de Janeiro'], ['F√°tima Bezerra', 'Rio Grande do Norte'], 
                           ['Ranolfo Vieira J√∫nior', 'Rio Grande do Sul'], ['Coronel Marcos Rocha', 'Rond√¥nia'], ['Antonio Denarium', 'Roraima'], 
                           ['Carlos Mois√©s', 'Santa Catarina'], ['Rodrigo Garcia', 'S√£o Paulo'], ['Belivaldo Chagas', 'Sergipe'], 
                           ['Wanderlei Barbosa', 'Tocantins'],],
                        columns=['nome', 'estado'])
siglas_df = pd.DataFrame([['Acre', 'AC', 'Norte'], ['Alagoas', 'AL', 'Nordeste'], ['Amap√°', 'AP', 'Norte'], ['Amazonas', 'AM', 'Norte'], 
                          ['Bahia', 'BA', 'Nordeste'], ['Cear√°', 'CE', 'Nordeste'], ['Distrito Federal', 'DF', 'Centro-Oeste'], 
                          ['Esp√≠rito Santo', 'ES', 'Sudeste'], ['Goi√°s', 'GO', 'Centro-Oeste'], ['Maranh√£o', 'MA', 'Nordeste'], 
                          ['Mato Grosso', 'MT', 'Centro-Oeste'], ['Mato Grosso do Sul', 'MS', 'Centro-Oeste'], ['Minas Gerais', 'MG', 'Sudeste'],
                          ['Par√°', 'PA', 'Norte'], ['Para√≠ba', 'PB', 'Nordeste'], ['Paran√°', 'PR', 'Sul'], ['Pernambuco', 'PE', 'Nordeste'], 
                          ['Piau√≠', 'PI', 'Nordeste'], ['Rio de Janeiro', 'RJ', 'Sudeste'], ['Rio Grande do Norte', 'RN', 'Nordeste'], 
                          ['Rio Grande do Sul', 'RS', 'Sul'], ['Rond√¥nia', 'RO', 'Norte'], ['Roraima', 'RR', 'Norte'], ['Santa Catarina', 'SC', 'Sul'],
                          ['S√£o Paulo', 'SP', 'Sudeste'], ['Sergipe', 'SE', 'Nordeste'], ['Tocantins', 'TO', 'Norte'],],
                        columns=['estado', 'sigla', 'regi√£o'])
estados_df = pd.merge(estados, siglas_df, on='estado')
estados_df.head()

             nome    estado sigla    regi√£o
0  Gladson Cameli      Acre    AC     Norte
1    Paulo Dantas   Alagoas    AL  Nordeste
2     Waldez G√≥es     Amap√°    AP     Norte
3     Wilson Lima  Amazonas    AM     Norte
4       Rui Costa     Bahia    BA  Nordeste

### Juntar as duas tabelas

In [54]:
df_governadores = pd.merge(post_govs, estados_df, on='nome')
df_governadores.head()

,nome,data,texto,rede social,postagens,termos,estado,sigla,regi√£o
0,Gladson Cameli,2022-11-21,tamb√©m fizemos a entrega de 9 quadriciclos par...,Twitter,fizemos entrega quadriciclos corpo bombeiros a...,seguran√ßa,Acre,AC,Norte
1,Gladson Cameli,2022-11-17,quero agradecer toda a comitiva do acre que es...,Twitter,agradecer toda comitiva acre junto comigo cope...,emprego,Acre,AC,Norte
2,Gladson Cameli,2022-11-17,quero agradecer toda a comitiva do acre que es...,Twitter,agradecer toda comitiva acre junto comigo cope...,renda,Acre,AC,Norte
3,Gladson Cameli,2022-11-16,gratid√£o a deus pela oportunidade de represent...,Twitter,gratid√£o deus oportunidade representar acre co...,deus,Acre,AC,Norte
4,Gladson Cameli,2022-11-16,gratid√£o a deus pela oportunidade de represent...,Twitter,gratid√£o deus oportunidade representar acre co...,emprego,Acre,AC,Norte

In [55]:
df_governadores.groupby('termos').count()

              nome  data  texto  rede social  postagens  estado  sigla  regi√£o
termos
alimento         2     2      2            2          2       2      2       2
asfalto         12    12     12           12         12      12     12      12
combust√≠vel      2     2      2            2          2       2      2       2
comida           6     6      6            6          6       6      6       6
constru√ß√£o      20    20     20           20         20      20     20      20
corrup√ß√£o        8     8      8            8          8       8      8       8
creche           2     2      2            2          2       2      2       2
cultura         21    21     21           21         21      21     21      21
democracia      23    23     23           23         23      23     23      23
deus            71    71     71           71         71      71     71      71
economia        36    36     36           36         36      36     36      36
econ√¥mica        5     5      5            5          5       5      5       5
educa√ß√£o        45    45     45           45         45      45     45      45
emprego         32    32     32           32         32      32     32      32
escola          16    16     16           16         16      16     16      16
esgoto           1     1      1            1          1       1      1       1
esporte         12    12     12           12         12      12     12      12
fome             5     5      5            5          5       5      5       5
habitacional     5     5      5            5          5       5      5       5
habita√ß√£o        2     2      2            2          2       2      2       2
hospitais        7     7      7            7          7       7      7       7
hospital        19    19     19           19         19      19     19      19
icms             3     3      3            3          3       3      3       3
ilumina√ß√£o       3     3      3            3          3       3      3       3
inova√ß√£o        10    10     10           10         10      10     10      10
investimento    29    29     29           29         29      29     29      29
mobilidade       9     9      9            9          9       9      9       9
moradia          2     2      2            2          2       2      2       2
natureza         1     1      1            1          1       1      1       1
renda           39    39     39           39         39      39     39      39
saneamento       2     2      2            2          2       2      2       2
sa√∫de           51    51     51           51         51      51     51      51
seguran√ßa       84    84     84           84         84      84     84      84
transporte      12    12     12           12         12      12     12      12
universidade     6     6      6            6          6       6      6       6
vacina           4     4      4            4          4       4      4       4
viol√™ncia       17    17     17           17         17      17     17      17

# Visualiza√ß√£o

In [56]:
# a finalizar

## Download da planilha com as postagens filtradas

In [ ]:
df_governadores.to_csv('temas_governadores.csv', index=False)
files.download('temas_governadores.csv')